<div class="footer">
    <ul>
        <li class="li1 on">
            <a href="__MODULE__/Index/index/pageId/1">  <img src="__IMG__/f_01.jpg" class="img1"><img src="__IMG__/f1_01.jpg" class="img2"></a>
        </li>
        <!--<li class="li2">-->
            <!--<a href="__MODULE__/Index/goods_list/type/free/pageId/2/mark/free">  <img src="__IMG__/f_02.jpg" class="img1"><img src="__IMG__/f1_02.jpg" class="img2"></a>-->
        <!--</li>-->
        <li class="li3">
            <a href="__MODULE__/Index/award/pageId/4">  <img src="__IMG__/f_03.jpg" class="img1"><img src="__IMG__/f1_03.jpg" class="img2"></a>
        </li>
        <li class="li4">
            <a href="__MODULE__/User/user/pageId/3/type/1">  <img src="__IMG__/f_04.jpg" class="img1"><img src="__IMG__/f1_04.jpg" class="img2"></a>
        </li>
    </ul>
</div>

<script type="text/javascript">
    
    var pageId="{$_GET.pageId}";

</script>

