<form class="am-form am-form-horizontal" action="__URL__/pool_save" method="post">
    <div class="am-form-group">
        <label class="am-u-sm-4 am-form-label">携程</label>
        <div class="am-u-sm-4">
            <input name="num[]" type="number" placeholder="填写数量">
        </div>
        <div class="am-u-sm-4"></div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-4 am-form-label">途牛</label>
        <div class="am-u-sm-4">
            <input name="num[]" type="number" placeholder="填写数量">
        </div>
        <div class="am-u-sm-4"></div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-4 am-form-label">木鸟短租</label>
        <div class="am-u-sm-4">
            <input name="num[]" type="number" placeholder="填写数量">
        </div>
        <div class="am-u-sm-4"></div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-4 am-form-label">OFO</label>
        <div class="am-u-sm-4">
            <input name="num[]" type="number" placeholder="填写数量">
        </div>
        <div class="am-u-sm-4"></div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-4 am-form-label">摩拜</label>
        <div class="am-u-sm-4">
            <input name="num[]" type="number" placeholder="填写数量">
        </div>
        <div class="am-u-sm-4"></div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-4 am-form-label">唯品会</label>
        <div class="am-u-sm-4">
            <input name="num[]" type="number" placeholder="填写数量">
        </div>
        <div class="am-u-sm-4"></div>
    </div>
  <!--  <div class="am-form-group">
        <label class="am-u-sm-4 am-form-label">百度外卖</label>
        <div class="am-u-sm-4">
            <input name="num[]" type="number" placeholder="填写数量">
        </div>
        <div class="am-u-sm-4"></div>
    </div>-->
    <div class="am-form-group">
        <div class="am-u-sm-8 am-u-sm-offset-4">
            <button type="submit" class="am-btn am-btn-primary">保存</button>
        </div>
    </div>
</form>