<form class="am-form am-form-horizontal" action="__URL__/rev_pwd_save" method="post">
    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label"><span style="color: red">*</span>原密码</label>
        <div class="am-u-sm-5">
            <input type="password" name="old" required>
        </div>
        <div class="am-u-sm-5"></div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label"><span style="color: red">*</span>新密码</label>
        <div class="am-u-sm-5">
            <input type="password" name="new" required>
        </div>
        <div class="am-u-sm-5"></div>
    </div>
    <div class="am-form-group">
        <label class="am-u-sm-2 am-form-label"><span style="color: red">*</span>确认密码</label>
        <div class="am-u-sm-5">
            <input type="password" name="con" required>
        </div>
        <div class="am-u-sm-5"></div>
    </div>
    <div class="am-form-group">
        <div class="am-u-sm-10 am-u-sm-offset-2">
            <button type="submit" class="am-btn am-btn-primary">保存</button>
        </div>
    </div>
</form>
